* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Quicksand', 'sans-serif';
}
:root{
  --color-primary: black;
  --color-secondary: blue;
  --color-text-primary: white;
  --color-text-secondary: lightgrey;
  --color-text-highlight: #7289DA;
}
body {
  background-color: rgb(95, 95, 95);
}
.center-content {
  margin: auto;
  width: 75%;
  padding: 10px;
  border: 1px solid pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1f22;
  height: 50px;
}
li{
  float: left;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.right-nav-items{
  float:right;
  height: 100%;
}
.right-nav-items:hover{
  background-color: rgb(81, 217, 23);
  transition: background-color .5s ease-in-out;
}
.highlighted-btn{
  background-color: #7289DA;
}
.main-content{
  height: calc(100vh - 50px);
  background-image: url("../images/background-sized-v2.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
/* index main text */
.main-text{
  opacity: 1;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 60%;
  color: var(--color-text-primary);
  margin: 50px;
}
.main-text h1{
  font-size: 3rem;
}
.main-text p{
  font-size: 1.5rem;
}

/* events main text */
.events-main{
  opacity: 1;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60%;
  color: var(--color-text-primary);
  margin: 50px;
}
.events-main h1{
  font-size: 3rem;
}
.events-main p{
  font-size: 1.5rem;
}
.logo{
  margin-left: 20px;
}
.header img {
  float: left;
  width: 45px;
  height: 45px;
  background: #555;
}
.header h2 {
  top: 30%;
  transform: translateY(30%);
  position: relative;
  left: 10px;
  width: 350px;
  color: var(--color-text-primary);
}
.content-btn{
  width: 150px;
  height:50px;
  border: 2px solid #7289DA;
  background-color: #7289da15;
  border-radius: 50px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.btn-link{
  text-decoration: none;
  color: var(--color-text-primary)
}
.content-btn:hover{
  cursor: pointer;
  background-color: #7289DA;
  transition: all .3s ease-in-out;
}
.content-buttons{
  padding-top: 20px;
}
.event-card{
  border: 1px solid rgb(230, 130, 0);
  width: 100%;
  display: flex;
  margin-top: 1rem;
  border-radius: 10px;
}
.event-date{
  background-color: rgb(49, 49, 49, 0.25);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 1px solid black;
  width: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  text-align: center;
}
.event-details{
  background-color: rgba(124, 124, 124, 0.25);
  width: 6rem;
  width: 90%;
  padding: 10px;
}
.event-details h2{
  font-size: 1.3rem;
}
.event-details p{
  font-size: 1rem;
}
.contacts{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}
.contact-card{
  width: 400px;
  border: 1px solid lime;
  height: 600px;
}
.contact-card img{
  width: 100%;
  height: 60%;
  border: 1px solid green;
  object-fit: cover;
}
.container h4{
  font-size: 2rem;
  text-align: center;
}
.container p{ 
  font-size: 1rem;
  text-align: center;
}
.socials{
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.social-item{
  background-color: rgb(43, 43, 43);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .2rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-size: 1.6rem;
}
a { 
  text-decoration: none;
  color: white;
}
a:visited { 
  text-decoration: none;
  color: white;
}
.contact-text{
  opacity: 1;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60%;
  color: var(--color-text-primary);
  margin: 50px;
}
.main-text h1{
  font-size: 3rem;
}
.main-text p{
  font-size: 1.5rem;
}